<% provide(:title, 'Profile') %>
<div class='col-md-4'><%= render 'shared/profile_pic' %></div>
<div class='col-md-4'>
  <div id='profile-wrapper'>
    <%= image_tag @user.profile_pic.url, id: 'profile-page-pic' %>
    <p class="center"'><%= @user.name %></p>
    <% if @common_comrades.any? %>
      <p class="center">Common comrades: <%= make_list(@common_comrades) %></p>
    <% else %>
     <p class="center">No comrades in common</p>
    <% end %>
    <% if current_user.comrade?(@user) %>
      <%= render 'unworthy' %>
    <% elsif current_user.comrade_pending?(@user) %>
      <%= render 'pending' %>
    <% elsif @user.comrade_pending?(current_user) %>
      <%= button_to 'Respond to request', comrade_request_path(@request), method: :get, class: 'btn btn-standard btn-lg comrade-btn' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
</div>
<div class='col-md-5'></div>

